@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600&family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");

$dark-purple: #654e92;
$dark-pink: #cd6688;
$light-pink: #ffd1da;
$light-cream: #fffae8;
$light-orange: #ffdbaa;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: $light-orange;
}

ul {
  list-style: none;
}

button,
input,
textarea {
  border: none;
  font-family: inherit;
  font-size: inherit;
  background-color: white;
}

button {
  cursor: pointer;
}

a {
  color: $dark-pink;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.center {
  text-align: center;
}

.flex {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.pad {
  padding: 10px 20px;
}

@mixin btn-primary($bgcolor, $color) {
  padding: 5px;
  border-radius: 10px;
  background-color: $bgcolor;
  color: $color;
}

@media screen and (min-width: 600px) {
  .pad {
    padding: 10px 50px;
  }
}

@media screen and (min-width: 800px) {
  .pad {
    padding: 20px 100px;
  }
}
