@import "../../../styles.scss";

.modal-body {
  max-width: 600px;
}

button {
  &.cancel-delete {
    @include btn-primary(transparent, black);
    border: 2px solid pink;
  }

  &.confirm-delete {
    @include btn-primary($light-pink, black);
    border: 2px solid $light-pink;
  }
}
