<div class="modal">
  <div class="modal-body">
    <div class="card-buttons">
      <button class="delete">×</button>
    </div>
    <div class="modal-header"><h1>Modal Title</h1></div>
    <div class="modal-content">
      Hi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas,
      iste? Recusandae, reiciendis quas eveniet deleniti hic sint? Delectus,
      sunt eius quibusdam necessitatibus error at rem.
    </div>
    <div class="modal-footer">
      <button>Press me.</button>
      <button>Press me.</button>
    </div>
  </div>
</div>
