@import "../../../styles.scss";

.categories {
  padding-top: 20px;
  display: grid;
  gap: 10px;
}

.category-card {
  background-color: $light-cream;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  padding: 20px;
  position: relative;
}

.loading {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60.61px);

  img {
    height: 50px;
    width: 50spx;
  }

  .animate {
    animation: flash 1.25s ease-in-out 0s infinite;
  }
}

.category-icon {
  height: 50px;
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (min-width: 600px) {
  .categories {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}

@media screen and (min-width: 800px) {
  .loading {
    height: calc(100vh - 80.61px);
  }
}

@media screen and (min-width: 1000px) {
  .categories {
    grid-template-columns: repeat(4, 1fr);
  }
}
