<div class="loading" *ngIf="dashboardService.isLoading">
  <img src="../../../assets/ripple.svg" alt="Loading" />
  <p class="animate">Loading your data ...</p>
</div>

<div class="loading" *ngIf="dashboardService.error">
  <p class="error">{{ dashboardService.error }}</p>
</div>

<div class="pad" *ngIf="dashboardService.categories.length > 0">
  <h2>Hello {{ dashboardService.user.first_name }}!</h2>
  <p>How is your spending this month?</p>
  <div class="categories">
    <div
      *ngFor="let cat of dashboardService.categories"
      class="category-card center"
    >
      <div class="card-buttons">
        <!-- <button class="edit" (click)="setModalOpen(cat.id)">✐</button> -->
        <button
          class="delete"
          [routerLink]="['/dashboard', cat.id]"
          (click)="setModalOpen(cat.id)"
        >
          ×
        </button>
      </div>
      <img
        class="category-icon"
        *ngIf="categoriesWithImages.includes(cat.name)"
        src="{{ '../../../../../assets/icons/' + cat.name + '.png' }}"
      />
      <img
        class="category-icon"
        *ngIf="!categoriesWithImages.includes(cat.name)"
        src="../../../../../assets/icons/Other.png"
      />
      <h2>
        <a
          (click)="setCategoryOpen(cat.id)"
          [routerLink]="['/dashboard', cat.id]"
          >{{ cat.name }}</a
        >
      </h2>
      <p>Budget</p>
      <p>Spend</p>
    </div>
  </div>
  <div class="add-button">
    <button class="add-button" (click)="onAddCategory()">+ Add Category</button>
  </div>
</div>

<app-category
  *ngIf="isCategoryOpen"
  [open]="isCategoryOpen"
  [close]="setCategoryClosed"
></app-category>

<app-modal
  *ngIf="isModalOpen"
  [open]="isModalOpen"
  [close]="setModalClosed"
></app-modal>
