<div class="loading" *ngIf="dashboardService.categories.length === 0">
  <img src="../../../assets/ripple.svg" alt="Loading" />
  <p class="animate"">Loading your data ...</p>
</div>

<div class="pad" *ngIf="dashboardService.categories.length > 0">
  <!-- <button>+ Add Category</button> -->
  <div class="categories">
    <div *ngFor="let cat of dashboardService.categories" class="category-card">
      <div class="card-buttons">
        <button class="edit">✐</button>
        <button class="delete">×</button>
      </div>
      <p>
        <a [routerLink]="['/dashboard', cat]">{{ cat }}</a>
      </p>
      <p>Budget</p>
      <p>Spend</p>
    </div>
  </div>
</div>
