<div class="pad center">
  <h1>Welcome to My Budget App!</h1>
  <img
    src="https://images.unsplash.com/photo-1554224155-8d04cb21cd6c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80"
    alt="An image of a person holding a calculator."
  />
  <p>The app to help you manage your money with helpful categories.</p>
  <p>Click <a routerLink="/auth">here</a> to sign in.</p>
  <p>Click <a routerLink="/reg">here</a> to create an account.</p>
</div>
