<div #categoryRef class="modal" (click)="modalClick($event)">
  <div class="modal-body">
    <div class="card-buttons">
      <button class="delete" (click)="close()">×</button>
    </div>
    <div class="modal-header">
      <h1>Your spending on {{ category.name }} this month:</h1>
    </div>
    <div class="modal-content">
      <input type="month" value="{{ date }}" required />
      <p>Info goes here!</p>
      <p>And maybe a graph or two.</p>
    </div>
    <div class="modal-footer">
      <button (click)="close()">Close</button>
    </div>
  </div>
</div>
