<div #categoryRef class="modal" (click)="modalClick($event)">
  <div class="modal-body">
    <div class="card-buttons">
      <button class="delete" (click)="close()">×</button>
    </div>
    <div class="modal-header">
      <h1>{{ category.name }}:</h1>
    </div>
    <div class="modal-content">
      <form [formGroup]="dateForm">
        <input type="month" formControlName="date" id="date" required />
      </form>
      <div *ngIf="this.entry">
        <p>Your planned budget in this category for {{ stringDate }}</p>
        <p>{{ entry.budget }}</p>
        <p>Your actual spend in this category for {{ stringDate }}</p>
        <p>{{ entry.spend }}</p>
      </div>
      <div>
        <p>Your spending in this category over the last 12 months:</p>
        <div>(graph will go here)</div>
      </div>
      <div *ngIf="!this.entry">
        <p>No entry for this month.</p>
      </div>
    </div>
    <div class="modal-footer">
      <button (click)="close()">Close</button>
    </div>
  </div>
</div>
